.places {
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.places > h1 {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 0px;
  flex: 0 1 100%;
}

article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 390px;
  margin: 20px;
  padding: 20px;
}

article > h2 {
  font-size: 30px;
  align-self: center;
  margin: 0 0 0 0;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 20px;
}
.price_by_night > p {
  margin: 0 0 0 0;
}

.information {
  height: 80px;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100px; */
}

.information [class^='icon'] {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

/* .max_guest > p,
.number_rooms > p,
.number_bathrooms > p {
  margin-top: auto;
  margin-bottom: auto;
} */

.guest_image {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background: url('../images/icon_group.png') no-repeat center;
  background-position: center;
}

.bed_image {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background: url('../images/icon_bed.png') no-repeat center;
}

.bath_image {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background: url('../images/icon_bath.png') no-repeat center;
}

article .amenities,
article .reviews {
  margin-top: 40px;
  width: 100%;
}

article .amenities h2 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  position: relative;
  left: -30px;
}

article .reviews h2 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

article .amenities ul {
  padding-left: 0;
  position: relative;
  left: -40px;
}
article .reviews ul {
  padding-left: 0;
}

article .amenities li {
  list-style-type: none;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

article .reviews li {
  list-style-type: none;
}
article .reviews h3 {
  font-size: 14px;
  margin: 5px auto;
}
article .reviews p {
  font-size: 12px;
  margin: 5px auto 20px auto;
}

.icon-tv,
.icon-wifi,
.icon-pets {
  background-image: url(../images/icon_tv.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.icon-tv {
  background-image: url(../images/icon_tv.png);
}
.icon-wifi {
  background-image: url(../images/icon_wifi.png);
}
.icon-pets {
  background-image: url(../images/icon_pets.png);
}

/* .icon-tv,
.icon-wifi,
.icon-pets {
  background-image: url('../images/icon_tv.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}  */
/* .icon-tv {
  background-image: url(../images/icon_tv.png);
} */
