div.container section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #dddddd solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  div.container section.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
  }
  
  body div.container section.filters button:hover {
    opacity: 90%;
  }
  
  div.container section.filters div {
    height: 100%;
    width: 25%;
    display: block;
    position: relative;
  }
  div.container section.filters div.locations {
    border-right: 1px #dddddd solid;
  }
  
  div.container section.filters div h3 {
    font-weight: 600;
    margin: 10px;
    margin-left: 20%;
  }
  
  div.container section.filters div h4 {
    font-weight: 400;
    margin: 0px;
    margin-left: 20%;
    font-size: 14px;
  }
  
  div.container section.filters .popover {
    background-color: #fafafa;
    border: 1px #dddddd solid;
    border-radius: 4px;
    list-style: none;
    padding: 20px;
    visibility: hidden;
    position: absolute;
    width: 83%;
  }
  div.container section.filters .popover ul {
    list-style: none;
    padding-left: 20px;
  }
  div.container section.filters .popover h2 {
    font-size: 16px;
  }
  div.container section.filters .locations:hover .popover,
  div.container section.filters .amenities:hover .popover {
    visibility: visible;
  }
  @media screen and (max-width: 575px) {
    .filters {
      width: 100%;
    }
    .filters button {
      width: 90%;
    }
    .filters .locations,
    .filters .amenities {
      width: 100%;
    }
  
    .filters .locations h4 {
      position: relative;
      top: -6px;
    }
  
    .filters .amenities h4 {
      position: relative;
      top: -6px;
    }
    .filters .locations {
      border-bottom: 1px solid #dddddd;
      width: 100%;
    }
    div.container section.filters .locations:hover .popover,
    div.container section.filters .amenities:hover .popover {
      visibility: visible;
      position: relative;
      top: -16px;
    }
  }
