footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cccccc;
    align-items: center;
    display: flex;
    justify-content: center;
  }
