header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 140px;
    height: 50px;
    background: url('../images/logo.png') no-repeat center;
    padding-left: 20px;
  }
