.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  section.filters button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #ff5a5f;
    color: white;
    height: 48px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
  }
  
  section.filters button:hover {
    opacity: 90%;
  }
