.places {
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .places > h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
  }
  
  article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 390px;
    margin: 20px;
    padding: 20px;
  }
  
  article > h2 {
    font-size: 30px;
  }
